.cask
.DS_Store
/elpa/
/straight/build/
/straight/build-cache.el
/straight/repos/
/straight/modified/

/auto-save-list/
/eshell/
transient/
network-security.data
org-persist/
projects
recentf
tramp
/url/

# Projectile
.projectile
projectile-bookmarks.eld
projectile.cache
projectile-frecency.eld

# Custom
emacs-git-open.el
